<div class="container container-size">
  <p class="header">Close account</p>
  <form (ngSubmit)="confirmAndCloseAccount()" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input [formControl]="closeAccountFormControl" matInput type="password">
      <mat-error *ngIf="closeAccountFormControl.errors?.invalidPassword">{{errorMessage}}</mat-error>
      <mat-error *ngIf="closeAccountFormControl.errors?.required">{{requiredMessage}}</mat-error>
    </mat-form-field>
    <button [disabled]="!closeAccountFormControl.valid"
            class="submit-button" mat-raised-button
            type="submit">
      Close account
    </button>
  </form>
</div>
