:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.test {
  caret-color: #FFFFFF;
  min-height: 200px;
  max-height: 400px;
}
