* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: white;
  font-family: 'Comfortaa',
    sans-serif;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.non-auth-layout-background {
  background: rgb(56, 0, 61);
  background: radial-gradient(circle, rgba(40, 0, 65, 1) 10%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
}

.non-auth-layout-footer {
  background: rgb(27, 0, 44);
  background: radial-gradient(circle, rgb(27, 0, 44) 0%, rgba(0, 0, 0, 1) 100%);
}
