* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: #FFFFFF;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 1001;
}

/* LINES */

.line {
  display: inline-block;
  margin: 16px;
  width: 80%;
  height: 1px;
  background-color: rgb(167, 167, 167);
}

/*INPUTS*/

.input {
  width: 100%;
  font-size: 1.8rem;
  padding: 16px 16px;
  border-radius: 5px;
  border: none;
}

input:focus {
  outline: none;
}

/*BUTTONS*/

.mat-raised-button:enabled:hover {
  opacity: 0.8;
}

button {
  font-family: 'Comfortaa', sans-serif;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  line-height: 50px;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.05);
}


.btn-size-mid {
  max-width: 150px;
}

.green-btn {
  background-color: #30ab53;
}

.blue-btn {
  background-color: rgb(0, 116, 194);
}

.purple-btn {
  background-color: #75418d;
}

.purple-btn, .blue-btn, .green-btn {
  transition: opacity 0.10s;
}

.green-btn:hover, .blue-btn:hover, .purple-btn:hover {
  opacity: 0.8;
}

/* ICONS */

.icon {
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.15s;
}

.icon:hover {
  opacity: 0.70;
}

.icon-btn {
  background-color: transparent;
  padding: 5px;
}

/* LINKS */
.link {
  font-size: 1.15rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.active-link {
  color: #bb62e4 !important;
  font-weight: bold;
}

/* FOOTER*/

.non-auth-layout-footer {
  background: rgb(27, 0, 44);
  background: radial-gradient(circle, rgb(27, 0, 44) 0%, rgba(0, 0, 0, 1) 100%);
}

.auth-layout-footer {
  background-color: #222;
}

/*NON AUTH CONTENT*/

.content-title {
  font-size: 3rem;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 25px;
  background: rgb(27, 0, 44);
  background: radial-gradient(circle, rgba(40, 0, 65, 1) 10%, rgb(27, 0, 44) 100%);
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 0 2px inset, 0 0 5em black;
  border-radius: 3px;
}

.content-text {
  font-weight: normal;
  font-size: 2.2rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 1);
  margin: 20px 5px;
}

/* MAIN  & MAIN CONTAINER*/

main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  z-index: 1;
}

.page-container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* MESSAGES */

.msg-error-p {
  color: #ff5050;
}

.msg_error > p, .msg-error-p {
  margin: 0 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.msg_error {
  color: #ffffff;
  background-color: #860458;
  border-radius: 5px;
}

.msg_error > i {
  margin-left: 15px;
  font-size: 1.5em;
}

.msg_error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin: 10px 50px;
}

.no-data-info {
  font-size: 1.8em;
}

/* LOADING SPINNER */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mat-spinner circle {
  stroke: #75419d;
}

/*NOTIFICATIONS*/

.notify-error.mat-snack-bar-container {
  background-color: #b93c3c;
}

.notify-success.mat-snack-bar-container {
  /*background-color: #644a80;*/
  background-color: #30ab53;
}

.auth-notifier-cfg.mat-snack-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  max-width: 600px;
  margin: 68px 15px 0 15px !important;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

/*MAT TAB GROUP*/
.mat-tab-body-wrapper {
  height: 100%;
}

/* MAT TOOLTIP ROLE */
.tooltip {
  font-size: 1.3em;
}

/* MAT TOGGLE SETTINGS */

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px;
  width: 35px;
  padding: 0 !important;
}

.mat-button-toggle-group-appearance-standard {
  border: none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

/* MAT MENU */
.mat-menu-item {
  font-family: 'Montserrat', sans-serif;
}

/* MAT LABEL */
.mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(255, 255, 255, 0.8);
}

/* MAT ERROR */
.mat-error {
  font-size: 1.05rem;
}
