<div [ngClass]="{'space-for-paginator' : teams}" class="teams-list-container">
  <div *ngIf="isLoading; else content" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #content>
    <app-not-found-teams *ngIf="!teams"></app-not-found-teams>
    <div (click)="teamService.redirectToTeamDetails(team.id)" *ngFor="let team of teams" class="team-wrapper">
      <div class="team-img-wrapper">
        <i *ngIf="team.membership.memberRole === adminRole" class="fas fa-crown own-team-icon"></i>
        <a>
          <app-placeholder [text]="team.name" color="purple" shape="square" size="l"></app-placeholder>
        </a>
      </div>
      <a class="team-title">{{team.name}}</a>
    </div>
  </ng-template>
</div>

<mat-paginator *ngIf="teams"
               [hidePageSize]="true"
               [length]="100"
               [pageSize]="15"
               [showFirstLastButtons]="true">
</mat-paginator>
