<div class="teams-list-container space-for-paginator">
  <div *ngIf="isLoading; else content" class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #content>
    <app-not-found-teams *ngIf="!membershipsPage?.content"></app-not-found-teams>
    <div (click)="teamService.redirectToTeamDetails(membership.team.id)"
         *ngFor="let membership of membershipsPage?.content" class="team-wrapper">
      <div class="team-img-wrapper">
        <i *ngIf="membership.memberRole === adminRole" class="fas fa-crown own-team-icon"></i>
        <a>
          <app-placeholder [text]="membership.team.name" color="purple" shape="square" size="l"></app-placeholder>
        </a>
      </div>
      <a class="team-title">{{membership.team.name}}</a>
    </div>
  </ng-template>
</div>
<mat-paginator (page)="loadMembershipsPage($event.pageIndex)"
               [hidePageSize]="true"
               [length]="membershipsPage?.totalElements"
               [pageIndex]="membershipsPage?.number"
               [pageSize]="membershipsPage?.size"
               [showFirstLastButtons]="true">
</mat-paginator>
