<div class="manage-team-container">
  <h2 class="team-h">Join to the team</h2>
  <form class="manage-team-form-container" #form="ngForm" (ngSubmit)="addMembership(code)">
    <input class="input manage-team-input"
           type="text"
           placeholder="Unique team code"
           required
           name="code"
           [(ngModel)]="code"
           minlength="8"
           maxlength="8">
    <button class="btn purple-btn" type="submit" [disabled]="form.invalid">Join to the team</button>
  </form>
</div>
