.container-size {
  max-width: 510px;
  width: 100%;
}

.close-account-description {
  opacity: 0.85;
}

.separator {
  width: 100%;
  border-top: rgba(255, 255, 255, 0.05) 2px solid;
  margin: 30px auto;
}
