<div class="container container-size">
  <p class="header">Manage profile</p>
  <p class="close-account-description">
    Add or edit information about yourself - it will be displayed on your public profile
  </p>
  <div class="separator"></div>
  <form (ngSubmit)="confirmAndUpdateChanges()" [formGroup]="manageProfileForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input formControlName="surname" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>About me</mat-label>
      <textarea cdkAutosizeMaxRows="6"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                formControlName="description"
                matInput>
      </textarea>
    </mat-form-field>
    <button [disabled]="manageProfileForm.invalid || !manageProfileForm.dirty" mat-raised-button type="submit">
      Save changes
    </button>
  </form>
</div>
