.separator {
  width: 100%;
  border-top: rgba(255, 255, 255, 0.02) 2px solid;
  margin: 15px auto;
}

.form {
  margin-top: 15px;
}

.input-photo {
  display: none;
}

button {
  margin: 5px 0;
}

img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 4px 0 rgba(0, 0, 0, 0.13);
}

i {
  margin-left: 4px;
  font-size: 1.6rem;
}
