.container-size {
  max-height: 440px;
  height: 100%;
}

.separator {
  width: 100%;
  border-top: rgba(255, 255, 255, 0.02) 2px solid;
  margin: 15px auto;
}

.description {
  text-align: center;
  opacity: 0.6;
}

.form {
  margin-top: 5px;
}

.input-photo {
  display: none;
}

.photo-error {
  text-align: center;
  margin-top: 10px;
}

.progress-bar {
  position: relative;
  top: -9px;
  right: -1px;
  height: 6px;
  border-radius: 0 0 4px 4px;
}

.image-container {
  position: relative;
}

.delete-container {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #424242;
  border-radius: 60px 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 4px 0 rgba(0, 0, 0, 0.13);
  pointer-events: none;
}

.delete {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 7px;
  font-size: 1.7rem;
  cursor: pointer;
  pointer-events: auto;
}

.delete-container:hover {
  opacity: 0.8;
}

.load-percent {
  color: #FFFFFF !important;
}

button {
  margin: 5px 0;
}

img {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 4px 0 rgba(0, 0, 0, 0.13);
}

i {
  margin-left: 4px;
  font-size: 1.6rem;
}
