:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.manage-team-form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.manage-team-input{
  margin: 15px 15px;
}

.join-input::placeholder{
  font-size: 16px;
}

.manage-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  max-width: 400px;
  max-height: 260px;
  height: 100%;
  width:100%;
  border: 2px rgba(255, 255, 255, 0.1) solid;
  border-radius: 2px;
  background-color: #333
}

.team-h {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
}

.teams-not-found-btn-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.not-found-manage-team-container{
  justify-content: space-around;
  max-height: 175px;
}
