<div class="add-task-form-wrapper">
  <form #form="ngForm" (ngSubmit)="add()">
    <input
      [(ngModel)]="newTodo.content"
      [maxlength]="maxTodoLength"
      class="input add-todo-input"
      name="content"
      placeholder="Add todo"
      required
      type="text">
    <button [disabled]="form.invalid" class="icon-btn add-icon" mat-icon-button type="submit">
      <i class="fas fa-plus icon"></i>
    </button>
  </form>
</div>
<table class="table">
  <tr>
    <th>Todos</th>
    <th>Created at</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let todo of todos | async">
    <ng-container *ngIf="todo === selectedTodo else todoTemplate">
      <td>
        <input
          (keydown.Enter)="confirmChanges()"
          (keydown.Escape)="cancelEdit()"
          (keydown.Meta.Enter)="confirmChanges()"
          [(ngModel)]="editedContent"
          [maxlength]="maxTodoLength"
          class="input edited-todo-input"
        />
      </td>
      <td>{{selectedTodo.createdAt | date: 'dd.MM.yyyy - HH:mm'}}</td>
      <td>
        <i (click)="confirmChanges()" class="far fa-check-square icon"></i>
        <i (click)="cancelEdit()" class="far fa-window-close icon"></i>
      </td>
      <td>
        <i (click)="confirmAndDelete(todo)" class="far fa-trash-alt icon"></i>
      </td>
    </ng-container>

    <ng-template #todoTemplate>
      <td>{{todo.content | trimText: 50}}</td>
      <td>{{todo.createdAt | date: 'dd.MM.yyyy - HH:mm'}}</td>
      <td (click)="edit(todo)"><i class="far fa-edit icon"></i></td>
      <td>
        <i (click)="confirmAndDelete(todo)" class="far fa-trash-alt icon"></i>
      </td>
    </ng-template>
  </tr>
</table>
