<div class="add-task-form-wrapper">
  <form (ngSubmit)="add()" #form="ngForm">
    <input
      type="text"
      [(ngModel)]="newTodo.content"
      name="content"
      #content="ngModel"
      class="input add-task-input"
      placeholder="Add todo"
      required>
    <button class="icon-btn" type="submit" [disabled]="form.invalid">
      <i class="fas fa-plus icon add-icon"></i>
    </button>
  </form>
</div>
<table class="table">
  <tr>
    <th>Todos</th>
    <th>Created at</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr *ngFor="let todo of todos | async" [ngSwitch]="todo === selectedTodo">
    <ng-container *ngIf="todo === selectedTodo else todoTemplate">
      <td>
        <input
          class="input add-task-input"
          [(ngModel)]="editedContent"
          (keydown.Enter)="confirmChanges()"
          (keydown.Meta.Enter)="confirmChanges()"
          (keydown.Escape)="cancelEdit()"
        />
      </td>
      <td>{{selectedTodo.createdAt | date: 'dd.MM.yyy - HH:mm'}}</td>
      <td>
        <i (click)="confirmChanges()" class="far fa-check-square icon check"></i>
        <i (click)="cancelEdit()" class="far fa-window-close icon cancel"></i>
      </td>
      <td>
        <i (click)="delete(todo)" class="far fa-trash-alt icon delete"></i>
      </td>
    </ng-container>
    <ng-template #todoTemplate>
      <td>{{todo.content}}</td>
      <td>{{todo.createdAt | date: 'dd.MM.yyy - HH:mm'}}</td>
      <td (click)="edit(todo)"><i class="far fa-edit icon edit"></i></td>
      <td>
        <i (click)="delete(todo)" class="far fa-trash-alt icon delete"></i>
      </td>
    </ng-template>
  </tr>
</table>
