<div class="container container-size">
  <p class="header">ACCOUNT</p>
  <p class="close-account-description">
    Edit your account settings and change password.
  </p>
  <div class="separator"></div>
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="currentPassword" matInput type="password">
      <mat-error *ngIf="currentPassword.errors?.required">
        Password field is required!
      </mat-error>
      <mat-error *ngIf="currentPassword.errors?.incorrectPassword">
        Entered password is incorrect!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input formControlName="newPassword" matInput type="password">
      <mat-error *ngIf="newPassword.errors && newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        {{getNewPasswordErrorMessage(newPassword.errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm new password</mat-label>
      <input formControlName="confirmNewPassword" matInput type="password">
      <mat-error *ngIf="confirmNewPassword.errors?.required">
        Password field is required!
      </mat-error>
      <mat-error *ngIf="confirmNewPassword.errors?.notMatch">
        Passwords does not match!
      </mat-error>
    </mat-form-field>
    <button [disabled]="changePasswordForm.invalid"
            [matTooltipDisabled]="changePasswordForm.valid"
            class="submit-button"
            mat-raised-button
            matTooltip="Fill all fields!"
            type="submit">Change password
    </button>
  </form>
</div>
