.separator {
  width: 100%;
  border-top: rgba(255, 255, 255, 0.05) 2px solid;
  margin: 30px auto;
}

.close-account-description {
  text-align: center;
}

.container-size {
  max-width: 510px;
  width: 100%;
}

.submit-button {
  margin-top: 3px;
}

mat-form-field {
  margin-bottom: 6px;
}
