<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="logo-container">
        <a class="logo-a" routerLink="/teams/my-teams"><img class="logo" src="assets/img/logo.svg" alt=""></a>
        <p class="logo-name">readytask</p>
      </div>

      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" routerLink="/teams/my-teams" routerLinkActive="active-link">teams</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="/todo" routerLinkActive="active-link">todo</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="/tasks/add-task" routerLinkActive="active-link">tasks</a></li>
      </ul>
      <div class="avatar-container">
        <button class="avatar-btn" [matMenuTriggerFor]="menu">
          <img class="avatar" src="{{currentUser?.img}}" alt="Avatar">
        </button>
      </div>
    </div>
  </div>
</header>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
