<header>
  <div class="container">
    <div class="header-wrapper">
      <div [matMenuTriggerFor]="hamburger" class="hamburger-container">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo-container">
        <a class="logo-a" routerLink="/teams/my-teams"><img alt="" class="logo" src="assets/img/logo.svg"></a>
        <p class="logo-name">readytask</p>
      </div>

      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" routerLink="/teams" routerLinkActive="active-link">teams</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="/todo" routerLinkActive="active-link">todo</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="/tasks" routerLinkActive="active-link">tasks</a></li>
      </ul>
      <div class="avatar-container">
        <button [matMenuTriggerFor]="menu" class="avatar-btn">
          <img *ngIf="currentUser?.img else placeholder"
               [src]="currentUser?.img"
               alt="Avatar"
               class="avatar"/>
          <ng-template #placeholder>
            <app-placeholder size="x-small" shadow="dark" [text]="currentUser?.firstName"></app-placeholder>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</header>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="profile/public/{{currentUser?.username}}">My profile</button>
  <button (click)="authService.logout()" mat-menu-item>Logout</button>
</mat-menu>

<mat-menu #hamburger="matMenu" class="hamburger-content">
  <button class="hamburger-menu-btn" mat-menu-item routerLink="/teams/my-teams" routerLinkActive="active-link">
    <i class="far fa-address-book mat-icon"></i>Teams
  </button>
  <button class="hamburger-menu-btn" mat-menu-item routerLink="/todo" routerLinkActive="active-link">
    <i class="far fa-list-alt mat-icon"></i>Todo
  </button>
  <button class="hamburger-menu-btn" mat-menu-item routerLink="/tasks/add-task" routerLinkActive="active-link">
    <i class="fas fa-tasks mat-icon"></i>Tasks
  </button>
</mat-menu>
