<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="logo-container">
        <a class="logo-a" href="index.html"><img class="logo" src="assets/img/logo.svg" alt=""></a>
        <p class="logo-name">readytask</p>
      </div>

      <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" routerLink="">todo</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="">tasks</a></li>
        <li class="nav-li"><a class="nav-a" routerLink="">teams</a></li>
      </ul>
      <div class="avatar-container">
        <img class="avatar" src="assets/img/rachel.jpg" alt="Avatar">
      </div>
    </div>
  </div>
</header>
