<app-non-auth-header></app-non-auth-header>
<main>
  <app-non-auth-content sectionId="why-readytask">
    <p>Why readytask?</p>
  </app-non-auth-content>
  <app-non-auth-content sectionId="tutorial">
    <p>Tutorial</p>
  </app-non-auth-content>
  <app-non-auth-content sectionId="about">
    <p>About</p>
  </app-non-auth-content>
  <app-non-auth-content sectionId="contact">
    <p>Contact</p>
  </app-non-auth-content>
</main>
<app-non-auth-footer></app-non-auth-footer>
<div id="particles-js" class="particles-js"></div>
