<ng-template #loader>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="forum-element-container">
  <app-add-post [teamId]="teamId" (addPostEvent)="loadPosts()"></app-add-post>
</div>

<ng-container *ngIf="!isLoading && team else loader">
  <div *ngIf="posts.length; else postsNotFound" class="forum-element-container">
    <app-post *ngFor="let post of posts" [post]="post" [team]="team" (reloadPosts)="loadPosts()"></app-post>
  </div>
</ng-container>

<ng-template #postsNotFound>
  <div class="posts-not-found-container">
    <app-information information="Posts not found"></app-information>
  </div>
</ng-template>
