<div class="post-container">
  <div class="avatar-container">
    <img *ngIf="post.user?.img else placeholder"
         [src]="post.user.img"
         alt="Avatar"
         class="avatar"/>
    <ng-template #placeholder>
      <app-placeholder [text]="post.user.firstName" shadow="dark" size="small"></app-placeholder>
    </ng-template>
  </div>
  <div [matRippleCentered]="isExpanded" [matRippleTrigger]="trigger" class="message-container" mat-ripple>
    <div class="message-header-container">
      <p class="post-author-details">{{post.user.firstName}} {{post.user.lastName}}</p>
      <p class="post-creation-time">{{post.creationTime | date: 'dd.MM.y HH:mm'}}</p>
      <div *ngIf="isUserAuthor(post) || isUserAdminOfTeam()" class="post-modify-actions">
        <i (click)="toggleEditable()" *ngIf="!isEditable else confirmChanges" class="far fa-edit icon"></i>
        <ng-template #confirmChanges>
          <i (click)="updatePost(post, message)" class="far fa-check-square icon icon-confirm-changes"></i>
        </ng-template>
        <i (click)="confirmAndDeletePost(post)" class="far fa-minus-square icon icon-delete"></i>
      </div>
    </div>
    <div [ngClass]="{'edit-message-content' : isEditable}" class="message-content">
      <p #message [contentEditable]="isEditable" [disabledOrHidden]="!isEditable" appFocusOnChange class="post-message">
        {{isExpanded ? post.message : post.message | trimText : postCollapsedLengthLimit}}
      </p>
    </div>
    <div class="post-interactions">
      <div #trigger>
        <button (click)="toggleExpand()"
                *ngIf="post.message.length > postCollapsedLengthLimit"
                [disabled]="isEditable" class="action-button"
                mat-raised-button>
          <i [ngClass]="isExpanded ? 'fa-caret-square-up' : 'fa-caret-square-down'" class="far icon expand-icon"></i>
          <span>{{expandMessage}}</span>
        </button>
      </div>
      <div class="reactions-container">
        <i (click)="react('like')"
           [ngClass]="{'reaction': isLiked.value === true}"
           class="fas fa-heart icon reaction-icon">
        </i>
        <span class="reaction-amount">{{post.resourceStatistics.likes}}</span>
        <i (click)="react('dislike')"
           [ngClass]="{'reaction': isLiked.value === false}"
           class="fas fa-heart-broken icon reaction-icon"></i>
        <span class="reaction-amount">{{post.resourceStatistics.dislikes}}</span>
      </div>
    </div>
  </div>
</div>
