<app-section>
  <div class="content-container">
    <p class="auth-header-text">Create your account</p>
    <form class="auth-form">
      <input type="text" placeholder="username" class="input next-input"/>
      <input type="email" placeholder="email" class="input next-input"/>
      <input type="password" placeholder="password" class="input last-input"/>
      <button type="submit" class="green-btn">Create account</button>
      <a routerLink="/reset-password" class="link forgot-password-link">Forgot password?</a>
      <div class="line"></div>
    </form>
  </div>
</app-section>
