<h1 mat-dialog-title>Add task details</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Choose deadline</mat-label>
    <input [(ngModel)]="pickedDate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="pickedDate" [disabled]="!pickedDate">Add task</button>
</div>


