<app-non-auth-section>
  <div class="content-container">
    <form class="login-form">
      <input type="email" placeholder="email" class="input email-input"/>
      <input type="password" placeholder="password" class="input password-input"/>
      <button type="submit" class="blue-btn">Log in</button>
      <a routerLink="/reset-password" class="link forgot-password-link">Forgot password?</a>
      <div class="line"></div>
      <button routerLink="/register" class="green-btn btn-size-mid">Create account</button>
    </form>
  </div>
</app-non-auth-section>
