<header>
  <div class="container">
    <div class="logo-container">
      <a class="logo-a" routerLink=""><img class="logo" src="assets/img/logo.svg" alt="logo readytask"></a>
    </div>

    <ul class="nav-ul">
      <li class="nav-li" routerLinkActive="active"><a class="nav-a" routerLink="" fragment="why-readytask">why readytask?</a></li>
      <li class="nav-li" routerLinkActive="active"><a class="nav-a" routerLink="" fragment="tutorial">tutorial</a></li>
      <li class="nav-li" routerLinkActive="active"><a class="nav-a" routerLink="" fragment="about">about</a></li>
      <li class="nav-li" routerLinkActive="active"><a class="nav-a" routerLink="" fragment="contact">contact</a></li>
    </ul>
    <div class="avatar-container">
      <a class="log-in nav-a" routerLink="/login">log in</a>
      <a class="sign-in nav-a" routerLink="/register">sign up</a>
    </div>
  </div>
</header>
