<nav class="nav">
  <div class="container">
    <div class="logo-container">
      <a class="logo-a" href="index.html"><img class="logo" src="../../assets/img/logo.svg" alt="logo readytask"></a>
    </div>

    <ul class="nav-ul">
      <li class="nav-li"><a class="nav-a" href="#why-readytask">why readytask?</a></li>
      <li class="nav-li"><a class="nav-a" href="#tutorial">tutorial</a></li>
      <li class="nav-li"><a class="nav-a" href="#about">about</a></li>
      <li class="nav-li"><a class="nav-a" href="#contact">contact</a></li>
    </ul>
    <div class="avatar-container">
      <a href="index.html" class="log-in nav-a">log in</a>
      <a href="" class="sign-in nav-a">sign up</a>
    </div>
  </div>
</nav>
