<button (click)="goBack()" class="back-button" matTooltip="Go back">
  <i class="fas fa-arrow-left"></i>
</button>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Team details">
    <ng-template matTabContent>
      <!--      lazy load-->
      <app-team-details [teamId]="teamId"></app-team-details>
    </ng-template>
  </mat-tab>

  <mat-tab label="Forum">
    <ng-template matTabContent>
      <app-team-forum [teamId]="teamId"></app-team-forum>
    </ng-template>
  </mat-tab>

  <mat-tab label="Participants">
    <ng-template matTabContent>
      <app-participants [teamId]="teamId"></app-participants>
    </ng-template>
  </mat-tab>
</mat-tab-group>
