.participants-table {
  background-color: #333333;
  width: 100%;
}

th {
  font-weight: bold;
}

.center-cell {
  text-align: center;
}

.role-cell {
  width: 71px;
}

.mat-paginator {
  border-bottom-right-radius: 5px;
  background-color: #333333;
  width: 100%;
}

.filter {
  width: 100%;
  padding: 0 24px;
  font-size: 1.1em;
  background-color: #333333;
}

.filter-input-label, .filter-input {
  font-size: 1.2em;
  color: #FFFFFF;
}

.role-icon {
  padding: 10px;
}

.member-role {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 71px;
  max-height: 35px;
}

.mat-column-changeRole, .mat-column-deleteMember {
  width: 15%;
}

.icon {
  margin: 0 2px;
}

button:disabled > .icon:hover {
  opacity: unset;
}

button:disabled {
  opacity: 0.5;
}

.avatar {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.user-details-container {
  display: flex;
  align-items: center;
}

.avatar-placeholder {
  cursor: pointer;
}

.user-names {
  margin-left: 10px;
  cursor: pointer;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  width: 35px;
  line-height: 30px !important;
  padding: 0 !important;
}

mat-button-toggle-group {
  border: none !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
