:host{
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

.add-task-form-wrapper{
  width: 100%;
  margin-bottom: 20px;
}

.add-task-input{
  color: white;
  font-weight: 400;
  max-width: 400px;
  background-color: transparent;
  padding: 5px;
  border-radius: 0;
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}

.add-icon{
  margin-left: 10px;
  font-size: 1.5rem;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table th:first-child,
.table tr td:first-child{
  text-align: left;
}

.table tr{
  text-align: center;
}

.table td, .table th{
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  padding: 10px;
}

.table th{
  text-align: center;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.icon{
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  transition: color 0.15s;
}

.check, .cancel{
  font-size: 19px;
}

.cancel:hover, .delete:hover{
  color: #fa3e3e;
}

.check:hover{
  color: #30ab53;
}


