.table{
  border-collapse: collapse;
  margin: 10px 20px;
}

.table th:first-child{
  min-width: 400px;
  width: 100%;
  text-align: left;
}

.table th{
  font-weight: bold;
  text-transform: uppercase;
  min-width: 150px;
  text-align: center;
}

.table tr td:first-child{
  text-align: left;
}

.table tr{
  text-align: center;
}

.table td, .table th{
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  padding: 10px;
}

.add-task-input{
  color: white;
  font-weight: 400;
  margin: 20px 10px 10px 20px;
  max-width: 400px;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 0;
  border-bottom: rgba(255, 255, 255, 0.6) 1px solid;
}

.add-icon{
  font-size: 1.5rem;
}
