<div class="manage-team-container">
  <h2 class="team-h">Join the team</h2>
  <form #form="ngForm" (ngSubmit)="addMembership(code)" class="manage-team-form-container">
    <input [(ngModel)]="code"
           class="input manage-team-input"
           maxlength="8"
           minlength="8"
           name="code"
           placeholder="Unique team code"
           required
           type="text">
    <button [disabled]="form.invalid" class="btn purple-btn" type="submit">Join the team</button>
  </form>
</div>
