<div [ngClass]="taskStateDataMap.get(task.state)!.borderClassName" class="task-card-container">
  <div class="task-card-header">
    <app-copy-to-clipboard [contentToCopy]="task.id" [copyTooltipMessage]="copyTaskRefMessage">
      <p class="task-title">{{task.title | trimText: 25}}</p>
    </app-copy-to-clipboard>
    <div [ngClass]="taskStateDataMap.get(task.state)!.backgroundClassName" class="task-state">
      <p>{{taskStateDataMap.get(task.state)?.taskStateLabel}}</p>
    </div>
  </div>
  <div class="task-card-body">
    <div class="task-card-body-content">
      <app-date-task-card [deadline]="task.createdAt" [tooltipMessage]="createdAtTooltip">
        <i class="far fa-calendar-plus"></i>
      </app-date-task-card>
      <app-date-task-card [deadline]="task.deadline" [tooltipMessage]="deadlineTooltip">
        <i class="fas fa-hourglass-end"></i>
      </app-date-task-card>
    </div>
    <div class="task-card-body-content">
      <div class="users-card-container">
        <app-user-related-with-task-card [user]="task.authorOfTask" class="user-card"
                                         userDetailsMessage="Assigned by"></app-user-related-with-task-card>
        <app-user-related-with-task-card [user]="task.userAssignedToTask"
                                         userDetailsMessage="Assigned to"></app-user-related-with-task-card>
      </div>
      <div (click)="teamService.redirectToTeamDetails(task.team.id)" [matTooltip]="'Team ' + task.team.name"
           class="team-card"
           matTooltipClass="tooltip">
        <app-placeholder [text]="task.team.name" color="purple" shape="square" size="s"></app-placeholder>
      </div>
    </div>
  </div>
  <button (click)="taskService.redirectToTask(task.id)" class="task-details-button" mat-raised-button>Check
    details
  </button>
</div>
