<main>
  <app-non-auth-section [sectionId]="mainSections.whyReadyTask">
    <app-why-readytask></app-why-readytask>
  </app-non-auth-section>
  <app-non-auth-section [sectionId]="mainSections.tutorial">
    <app-tutorial></app-tutorial>
  </app-non-auth-section>
  <app-non-auth-section [sectionId]="mainSections.about">
    <app-about></app-about>
  </app-non-auth-section>
  <app-non-auth-section [sectionId]="mainSections.contact">
    <app-contact></app-contact>
  </app-non-auth-section>
</main>
