main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
