<div [matMenuTriggerFor]="navMobile" class="auth-nav-mobile">
  <p class="mobile-category">{{currentNavContent?.title | titlecase}}</p>
  <i class="fas fa-chevron-down nav-mobile-icon"></i>
</div>
<nav class="main-nav">
  <div class="main-avatar-container">
    <img *ngIf="currentUser?.img else placeholder"
         [src]="currentUser?.img"
         alt="Avatar"
         class="main-avatar"/>
    <ng-template #placeholder>
      <app-placeholder size="large" shadow="light" [text]="currentUser?.firstName"></app-placeholder>
    </ng-template>
    <a class="main-nav-a"
       routerLink="profile/public/{{currentUser?.username}}">{{currentUser?.firstName | uppercase}} {{currentUser?.lastName | uppercase}}</a>
    <div class="line"></div>
  </div>
  <p class="category">{{currentNavContent?.title}}</p>
  <ul class="main-nav-ul">
    <li *ngFor="let navElement of currentNavContent?.elements">
      <a [routerLink]="navElement?.link" class="nav-a" routerLinkActive="active-link">
        {{ navElement?.content }}
      </a>
    </li>
  </ul>
</nav>

<mat-menu #navMobile="matMenu" xPosition="before">
  <button *ngFor="let navElement of currentNavContent?.elements"
          [routerLink]="navElement?.link"
          class="hamburger-menu-btn"
          mat-menu-item
          routerLinkActive="active-link">
    {{ navElement?.content | titlecase}}
  </button>
</mat-menu>
