<nav *ngIf="!minimized else minimizedNav" class="main-nav">
  <div class="minimize-button-container">
    <button (click)="minimizeNav()" matTooltip="Minimize">
      <i class="fas fa-minus minimize-button"></i>
    </button>
  </div>
  <div class="main-avatar-container">
    <img (click)="userService.redirectToProfileUrl(currentUser!.username)"
         *ngIf="currentUser?.img else placeholder"
         [src]="currentUser?.img"
         alt="Avatar"
         class="main-avatar"/>
    <ng-template #placeholder>
      <app-placeholder [text]="currentUser?.firstName" class="main-avatar-placeholder" shadow="light"
                       size="l"></app-placeholder>
    </ng-template>
    <a class="main-nav-a"
       routerLink="profile/public/{{currentUser?.username}}">{{currentUser?.firstName | uppercase}} {{currentUser?.lastName | uppercase}}</a>
    <div class="line"></div>
  </div>
  <p class="category">{{currentNavContent?.title}}</p>
  <ul class="main-nav-ul">
    <li *ngFor="let navElement of currentNavContent?.elements">
      <a [routerLink]="navElement?.link" class="nav-a" routerLinkActive="active-link">
        {{ navElement?.content }}
      </a>
    </li>
  </ul>
</nav>

<ng-template #minimizedNav>
  <div class="nav-minimized">
    <button (click)="maximize()" class="minimized-button" matTooltip="Maximize" matTooltipPosition="right">
      <i class="fas fa-angle-double-right maximize-button"></i>
    </button>
    <button [matMenuTriggerFor]="navMobile" class="minimized-button" matTooltip="Menu" matTooltipPosition="right">
      <i class="fas fa-chevron-down minimize-menu-button"></i>
    </button>
  </div>
</ng-template>

<div *ngIf="!minimized" class="auth-nav-mobile">
  <i [matMenuTriggerFor]="navMobile" class="fas fa-chevron-down nav-mobile-icon"></i>
  <p class="mobile-category">{{currentNavContent?.title | titlecase}}</p>
</div>

<mat-menu #navMobile="matMenu" xPosition="after">
  <button *ngFor="let navElement of currentNavContent?.elements"
          [routerLink]="navElement?.link"
          mat-menu-item
          routerLinkActive="active-link">
    {{ navElement?.content | titlecase}}
  </button>
</mat-menu>
