:host {
  height: 100%;
  width: 100%;
  max-width: 240px;
}

.minimize-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.minimize-button,
.maximize-button,
.minimize-menu-button {
  opacity: 0.9;
  margin: 7px;
  padding: 7px;
  font-size: 2rem;
}

.main-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-avatar {
  height: 146px;
  width: 146px;
  margin: 0 20px 30px 20px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.15);
}

.main-nav-a {
  display: inline-block;
  max-width: 200px;
  letter-spacing: 2px;
  font-size: 1.3rem;
  line-height: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s;
}

.main-nav-a:hover {
  color: #bb62e4;
}

.line {
  margin: 20px 0;
  max-width: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background-color: rgba(17, 17, 17, 0.6);
  transition: transform 0.3s;
}

.category {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 30px;
}

.main-nav-ul {
  list-style: none;
}

.nav-a {
  margin-left: 20px;
  padding: 10px 10px;
  line-height: 50px;
  font-size: 1.3rem;
  letter-spacing: 1.7px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-a:hover {
  color: #bb62e4;
}

.auth-nav-mobile {
  color: #b7b7b7;
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-mobile-icon {
  width: 30px;
  font-size: 2.2rem;
  margin: 3px 7px;
  padding: 10px;
}

.nav-mobile-icon {
  cursor: pointer;
}

.mobile-category {
  margin: 0 auto;
  transform: translateX(-22px);
  font-weight: bold;
  font-size: 1.8rem;
}

.hamburger-menu-btn {
  font-family: 'Montserrat', sans-serif;
}

.nav-minimized {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.6);
  height: 100%;
}

:host.minimized {
  width: fit-content;
}

@media (max-width: 667px) {
  :host {
    min-height: 40px;
    min-width: 0;
    max-width: 100%;
    max-height: 50px;
  }

  .main-nav {
    display: none;
  }

  .auth-nav-mobile {
    display: flex;
  }

  .nav-minimized {
    display: none;
  }
}
