.auth-form {
  text-align: center;
  max-width: 360px;
  width: 100%;
  padding: 15px 15px 0 15px;
  margin: 18px;
}

.auth-header-text{
  font-weight: bold;
  font-size: 2.2rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 1);
  margin-top: 8px;
}

.next-input{
  margin-bottom: 8px;
}

.last-input{
  margin-bottom: 16px;
}

.forgot-password-link{
  display: block;
  margin-top: 16px;
}
