<app-go-back-button class="go-back-button-position"></app-go-back-button>
<div *ngIf="user else userNotFound" class="profile-card-container">
  <div class="profile-card-left">
    <img *ngIf="user.img else placeholder"
         [src]="user?.img"
         alt="Avatar"
         class="profile-avatar"/>
    <ng-template #placeholder>
      <app-placeholder [text]="user?.firstName" shadow="dark" shape="square" size="l"></app-placeholder>
    </ng-template>
  </div>
  <div class="separator"></div>
  <div class="profile-card-right">
    <div class="user-info-header">
      <div class="user-names-container">
        <p class="names">{{user?.firstName}} {{user?.lastName}}</p>
        <app-copy-to-clipboard [contentToCopy]="user.username">
          <p class="username">@{{user.username}}</p>
        </app-copy-to-clipboard>
      </div>
      <p class="join-date">Joined {{user?.creationTime | date: 'dd.MM.yyyy'}}</p>
    </div>
    <p class="description">
      <ng-container *ngIf="user?.description else noDescription">
        {{user.description}}
      </ng-container>
      <ng-template #noDescription>
        {{user?.firstName}} has not added a profile description yet.
      </ng-template>
    </p>
  </div>
</div>

<ng-template #userNotFound>
  <app-information *ngIf="doesUserNotExists else loader" information="User does not exists."></app-information>
</ng-template>

<ng-template #loader>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

