:host {
  width: 100%;
  height: 100%;
}

.task-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: calc(100% - 96px);
  padding: 6px;
  overflow-y: auto;
}

.tasks-cards-header {
  display: flex;
  align-items: center;
  padding: 0 14px;
  height: 48px;
  background-color: #252525;
}

.mat-form-field {
  padding-top: 1.34375em;
}

mat-paginator {
  bottom: 0;
}

@media (max-width: 667px) {
  .task-cards-container {
    max-height: calc(100% - 40px);
  }
}

@media (max-width: 1229px) {
  .task-cards-container {
    justify-content: center;
  }
}
