<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Assigned to me">
    <ng-template matTabContent>
      <div class="tasks-cards-header">
        <mat-form-field appearance="fill" class="select-form-field">
          <mat-label>Teams</mat-label>
          <mat-select #teamSelect (selectionChange)="setTasksDependsOnSelectedTeam(teamSelect.value)">
            <mat-option *ngFor="let membership of (loggedUserMemberships | async)" [value]="membership.team.id">
              {{membership.team.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="(tasksAssignedToLoggedUser | async) as tasks else loader" class="task-cards-container">
        <app-task-card *ngFor="let task of tasks" [task]="task"></app-task-card>
      </div>
      <mat-paginator [length]="100" [pageSize]="15" hidePageSize showFirstLastButtons></mat-paginator>
    </ng-template>
  </mat-tab>

  <mat-tab label="Managed by me">
    <ng-template matTabContent>

    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #loader>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
